/* CSS reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1{
  color: blue;
}

main{
  margin: 10%;
}

.navList{
  display: inline;
  list-style: none;
  margin: 3%;
}

.logo{
  margin-bottom: 20px;
}


/* TO MAKE ROWS AND COLUMNS, USE FLOAT AND CLEAR */
.row{
  width: 100%;
  height: 600px;
  /* background-color: salmon; */
}

.col{
  width: 50%;
  height: 500px;
  float: left;
  /* background-color: #b7fbff; */
  /* border: 2px solid white; */
}

.row::after{
  clear: both;
  display: table;
  content: "";
}

.col2{
  width: 50%;
  height: 500px;
  float: right;
  /* background-color: #b7fbff; */
  /* border: 2px solid white; */
}

.col3{
  width: 90%;
  height: 500px;
  float: right;
  /* background-color: #b7fbff; */
  /* border: 2px solid white; */
}

/* TEXT FOR CHOCOLATE */

.ChocTitle{
  background-color: #b7fbff;
  margin-bottom: 40px
}

.Description{
  font-size: 20px;
  line-height: 25px;
}
/* CHOCOLATE IMAGES */
.SeaSalt{
  width: 100%
  height: auto;
  max-height: 500px;
}

.WellingtonCoffee{
  width: 100%
  height: auto;
  max-height: 500px;
}

.Buttermilk{
  width: 100%
  height: auto;
  max-height: 500px;
}
